In [15]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'BOOKING_ID': [1, 2, 3],
        'LOCATION_ID': [1, 2, 3],
        'CREATED_AT': ['01/01/1970', '02/01/1970', '19/01/1970'],
        'REVENUE': ['79', '99', '50']}

df = pd.DataFrame(data)

# Convert the 'CREATED_AT' column to datetime
df['CREATED_AT'] = pd.to_datetime(df['CREATED_AT'], format='%d/%m/%Y')
df.to_csv('df_0.csv', index=False)

# Display the DataFrame
print(df)

   BOOKING_ID  LOCATION_ID CREATED_AT REVENUE
0           1            1 1970-01-01      79
1           2            2 1970-01-02      99
2           3            3 1970-01-19      50

In [16]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'BOOKING_ID': [1, 2, 3, 4, 5],
        'LOCATION_ID': [1, 2, 3, 4, 5],
        'CREATED_AT': ['01/01/1970', '02/01/1970', '19/01/1970', '10/01/1990', '11/01/1990'],
        'REVENUE': ['79', '99', '50', '100', '200']}

df = pd.DataFrame(data)

# Convert the 'CREATED_AT' column to datetime
df['CREATED_AT'] = pd.to_datetime(df['CREATED_AT'], format='%d/%m/%Y')
df.to_csv('df_1.csv', index=False)
# Display the DataFrame
print(df)

   BOOKING_ID  LOCATION_ID CREATED_AT REVENUE
0           1            1 1970-01-01      79
1           2            2 1970-01-02      99
2           3            3 1970-01-19      50
3           4            4 1990-01-10     100
4           5            5 1990-01-11     200

In [5]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'date': ['Jan. 2023', 'Jan. 2023', 'Feb. 2023', 'Feb. 2023', 'Mar. 2023', 'Mar. 2023'],
        'name': ['Peppa', 'George', 'Peppa', 'George', 'Peppa', 'George'],
        'sales': ['4', '4', '8', '2','6','3'],
        'status': ['actual', 'actual', 'actual', 'actual', 'estimate', 'estimate']}

df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'], format='%b. %Y')

df

        date    name sales    status
0 2023-01-01   Peppa     4    actual
1 2023-01-01  George     4    actual
2 2023-02-01   Peppa     8    actual
3 2023-02-01  George     2    actual
4 2023-03-01   Peppa     6  estimate
5 2023-03-01  George     3  estimate

In [14]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'date': ['Jan. 2023', 'Jan. 2023', 'Feb. 2023', 'Feb. 2023', 'Marc. 2023', 'Marc. 2023'],
        'name': ['Peppa', 'George', 'Peppa', 'George', 'Peppa', 'George'],
        'sales': ['4', '4', '8', '2','6','3'],
        'status': ['actual', 'actual', 'actual', 'actual', 'estimate', 'estimate']}

df = pd.DataFrame(data)

# Convert the 'CREATED_AT' column to datetime
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
df.to_csv('df_1.csv', index=False)
# Display the DataFrame
print(df)

0   1970-01-01
1   1970-01-02
2   1970-01-19
3   1990-01-10
4   1990-01-11
Name: CREATED_AT, dtype: datetime64[ns]

In [7]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'date': ['Jan. 2023', 'Jan. 2023', 'Feb. 2023', 'Feb. 2023', 'Mar. 2023', 'Mar. 2023'],
        'name': ['Peppa', 'George', 'Peppa', 'George', 'Peppa', 'George'],
        'sales': ['4', '4', '8', '2', '6', '3'],
        'status': ['actual', 'actual', 'actual', 'actual', 'estimate', 'estimate']}

df = pd.DataFrame(data)

# Convert the 'date' column to datetime with a fixed day (1st of each month)
df['date'] = pd.to_datetime(df['date'] + ' 1', format='%b. %Y %d')

# Format the 'date' column as 'Mar. 2023'
df['date'] = df['date'].dt.strftime('%b. %Y')

# Display the updated DataFrame
print(df)


df.to_csv('Peppa_and_George.csv', index=False)

        date    name sales    status
0  Jan. 2023   Peppa     4    actual
1  Jan. 2023  George     4    actual
2  Feb. 2023   Peppa     8    actual
3  Feb. 2023  George     2    actual
4  Mar. 2023   Peppa     6  estimate
5  Mar. 2023  George     3  estimate